:root {
	font-size: 62.5%;

	--hostile-color: #ff4d4d;
	--neutral-color: #ffff4d;
	--friendly-color: #4dff4d;
	--player-color: #4d4dff;
}

body {
	margin: 0;
	padding: 0;
}

main.game {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;

	.paused {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 4rem;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-weight: bold;
		color: #fff;
		z-index: 100;
		background: rgba(0, 0, 0, 0.7);
		padding: 20px 40px;
		border-radius: 10px;
		display: none;
	}

	.fps-counter {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 3rem;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-weight: bold;
		color: #fff;
		z-index: 100;
		background: rgba(0, 0, 0, 0.4);
	}

	.dev-info {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		width: 30rem;
		font-size: 1.5rem;
		font-family: "Tahoma", Geneva, Verdana, sans-serif;
		font-weight: bold;
		color: #fff;
		z-index: 100;
		background: rgba(0, 0, 0, 0.4);
		padding: 5px 10px;
		overflow: hidden;

		p {
			margin: 0;
			padding: 2px 0;
		}
	}

	.canvas-layers canvas {
		position: absolute;
		left: 0;
		top: 0;

		&.tile-layer {
			z-index: 1;
			background: black;
		}

		&:not(.base) {
			pointer-events: none; /* Allow clicks to pass through to tile layer */
			background: none; /* Make the background transparent */
		}

		&.prop-layer {
			z-index: 2;
		}

		&.object-layer {
			z-index: 3;
		}

		&.creature-layer {
			z-index: 4;
		}

		&.effect-layer {
			z-index: 5;
		}

		&.ui-layer {
			z-index: 6;
		}
	}
}

.initiative-row {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 60%;
	height: 10rem;
	overflow: hidden;
	overflow-x: auto;
	background: rgb(36, 36, 36);
	border-radius: 0rem 0rem 1rem 1rem;
	z-index: 10;
	padding: 0.5rem;

	.initiative-entry {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1px;
		border: 0.2rem solid #fff;
		background: rgba(0, 0, 0, 0.6);
		position: relative;
		transition: 0.4s ease;
		width: 6.5rem;
		height: 6.5rem;
		overflow: hidden;

		&.hidden {
			width: 0;
		}

		&.hostile {
			border-color: var(--hostile-color);
		}

		&.neutral {
			border-color: var(--neutral-color);
		}

		&.friendly {
			border-color: var(--friendly-color);
		}

		&.player {
			border-color: var(--player-color);
		}

		&.active {
			top: 0.8rem;
			width: 8rem;
			height: 8rem;

			canvas {
				transform: scale(1.25);
			}
		}

		&:not(.active) {
			opacity: 0.6;
			transform: scale(1);
		}
	}
}

.character-portraits {
	position: absolute;
	left: 0;
	top: 10rem;
	z-index: 10;

	.character-portrait {
		position: relative;
		width: 24rem;
		height: 16rem;
		margin: 0.5rem;
		border: 0.2rem solid #fff;
		border-radius: 0.5rem;
		padding: 1rem;
		background-size: cover;
		background-position: center;
		background: rgba(0, 0, 0, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			font-size: 2rem;
			color: white;
		}

		canvas {
			border-radius: 4rem;
			border: 0.2rem solid #fff;
		}
	}
}

.hotbar {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	height: 8rem;
	overflow: hidden;
	overflow-x: auto;
	background: rgb(36, 36, 36);
	border-radius: 1rem 1rem 0rem 0rem;
	z-index: 10;
	padding: 0.5rem;

	&.locked {
		opacity: 0.5;
		pointer-events: none;
	}

	.hotbar-item {
		color: white;
		font-size: 1.6rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0.5rem;
		border: 0.2rem solid #fff;
	}
}

.test {
	position: absolute;
	left: 200px;
	top: 300px;
	width: 6rem;
	height: 4rem;
	background: black;

	z-index: 10;
}

.movable-window {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(31, 31, 31);
	--w: 30rem;
	--h: 20rem;
	width: var(--w);
	height: var(--h);
	border: 0.2rem solid #fff;
	z-index: 20;

	.window-top-bar {
		width: 100%;
		height: 4rem;
		background: #222;

		.window-close-button {
			position: absolute;
			top: 0.2rem;
			right: 0.2rem;
			width: 3rem;
			height: 3rem;
			background: #ff4d4d;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.4rem;
				height: 2rem;
				background-color: white;
				transform-origin: center;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}

	&.hidden {
		display: none;
	}

	.creature-sheet {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		box-sizing: border-box;
		background: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;

		.attributes,
		.saves {
			display: flex;
			gap: 1rem;
			width: 100%;
		}

		h2,
		h3,
		p {
			padding: 0;
			margin: 0;
		}

		h2 {
			color: white;
			font-size: 3rem;
		}

		p {
			color: white;
			font-size: 2rem;
			margin: 0.5rem 0;
		}
	}
}
